@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Panelinə Xoş Gəlmisiniz</h2>

<ul>
    <li><a asp-area="Admin" asp-controller="Vacancies" asp-action="Manage">Vakansiyaların İdarə Edilməsi</a></li>
    <li><a asp-area="Admin" asp-controller="Applicants" asp-action="Manage">Namizədlərin İdarə Edilməsi</a></li>
    <li><a asp-area="Admin" asp-controller="TestQuestions" asp-action="Manage">Test Suallarının İdarə Edilməsi</a></li>
</ul>
