@model VacancyManagement.Core.Entities.Applicant
@{
    Layout = "_Layout";
}

<h1>Vakansiyaya müraciət et</h1>

<form id="applicationForm" asp-action="StartTest" method="post">
    <input type="hidden" asp-for="VacancyId" value="@Model.VacancyId" />

    <div class="form-group">
        <label for="ApplicantName">Ad və Soyad</label>
        <input asp-for="ApplicantName" class="form-control" />
        <span asp-validation-for="ApplicantName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">Elektron poçt ünvanı</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Telefon Nömrəsi</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <!-- JavaScript ilə yönləndirmə ediləcək düymə -->
    <button type="submit" class="btn btn-primary" id="submitButton">Göndər</button>
</form>
