@model VacancyManagement.Core.Entities.Applicant

<h1>Vakansiyaya müraciət et</h1>

<form asp-action="Apply" asp-controller="Vacancies" method="post">
    <input type="hidden" asp-for="VacancyId" value="@Model.VacancyId" />

    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
