@model VacancyManagementApp.Business.DTOs.RegisterDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<body>

    <form asp-controller="Account" asp-action="Register" method="post" class="mt-3 my-5">
        @Html.AntiForgeryToken()
        <section class="auth-wrapper">
            <div class="container">
                <a class="btn btn-back" asp-controller="Home" asp-action="Index">
                </a>
                <div class="form-wrapper m-auto">
                    <h2 class="t-center">Qeydiyyat</h2>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label">Tam ad</label>
                        <input asp-for="FullName" class="form-control" name="FullName" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">İstifadəçi adı</label>
                        <input asp-for="UserName" class="form-control" name="UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Telefon nömrəsi</label>
                        <input asp-for="PhoneNumber" class="form-control" name="PhoneNumber" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" name="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Şifrə</label>
                        <input asp-for="Password" class="form-control" name="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 control-label">
                        <input id="frmProduct" type="submit" value="Qeydiyyatdan keç" class="btn btn-primary btn-lg btn-block" tabindex="16" />
                    </div>
                </div>
           @*      <a href="#" class="t-center link">Qeydiyyatdan keç</a> *@
            </div>

       @*      <partial name="_Footer" /> *@

        </section>
    </form>
@*     <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/scripts.js"></script> *@
</body>

<!-- Validation scriptləri daxil edin -->
@* @Html.Partial("_ValidationScriptsPartial") *@



